<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="../static/Fragments/head.html :: head">
    <title id="pageTitle">MyGallery: Users</title>
</head>
<body>
	<header th:include="../static/Fragments/navbar.html">
	</header>
	
	<h1>Users</h1>
	
	<table>
	    <tr>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Username</th>
	        <th>Email</th>
	    </tr>
	    <tr th:each = "user: ${users}">
	        <td th:text="${user.firstName}"></td>
	        <td th:text="${user.lastName}"></td>
	        <td th:text="${user.username}"></td>
	        <td th:text="${user.email}"></td>
	    </tr>
	</table>
	
	<h3>Create an account below:</h3>
	
	<p>Please use the form below to subscribe</p>
	<form action="#" th:action="@{/user}" th:object="${user}" method="post">
		<table>
			<tr>
				<td>First Name: </td>
				<td><input type="text" th:field="*{firstName}" /></td>
			</tr>
			<tr>
				<td>Last Name: </td>
				<td><input type="text" th:field="*{lastName}" /></td>
			</tr>
			<tr>
				<td>User Name: </td>
				<td><input type="text" th:field="*{username}" /></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="text" th:field="*{password}" /></td>
			</tr>
			<tr>
				<td>Email Address: </td>
				<td><input type="email" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
	
	<footer th:include="../static/Fragments/footer.html">
	</footer>
</body>
</html>
